<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="common/head :: head_fragment(title = '支出詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
<div class="container">
    <h1>支出情報詳細</h1>
    <div th:object="${expenseData}">
        <div class="row mx-md-n5">
            <div class="col-2 pt-3 border bg-light">name</div>
            <div class="col pt-3 border">
                <p th:text="*{name}"></p>
            </div>
        </div>
        <div class="row mx-md-n5">
            <div class="col-2 pt-3 border bg-light">price</div>
            <div class="col pt-3 border">
                <p th:text="*{price}"></p>
            </div>
        </div>
        <div class="row mx-md-n5">
            <div class="col-2 pt-3 border bg-light">category</div>
            <div class="col pt-3 border">
                <p th:text="*{category}"></p>
            </div>
        </div>
    </div>
    <br />
    <div class="text-center">
        <a th:href="@{/expense/{id}/edit(id=*{id})}" class="btn btn-primary disabled" aria-disabled="true">　編集　</a>
        <a th:href="@{/expense/{id}/delete(id=*{id})}" class="btn btn-secondary disabled" aria-disabled="true">　削除　</a>
        <a href="/expense/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
</div>
</body>
</html>